BasedOnStyle: Google
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
BraceWrapping:
  BeforeElse: true
BreakBeforeBraces: Attach
ColumnLimit: 90
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 2
Language: Cpp
PointerAlignment: Left
SortIncludes: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
Standard: c++17
TabWidth: 2
UseTab: ForIndentation
